<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>WOPFE</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<div class="sidenav">
<!--    <a href="'/main/student/' + ${student.id}">Main</a>-->
<!--    <a href="'/main/student/' + ${student.id} + '/class'">My class</a>-->
<!--    <a href="/main/student/' + ${student.id} + '/grades'">Grades</a>-->
<!--    <a href="/main/student/' + ${student.id} + '/tasks'">Tasks</a>-->
<!--    <a href="/main/student/' + ${student.id} + '/timetable'">Timetable</a>-->
    <a href="/main/student/">Main</a>
    <a href="/main/student/class">My class</a>
    <a href="/main/student/grades">Grades</a>
    <a href="/main/student/tasks">Tasks</a>
    <a href="/main/student/timetable">Timetable</a>
</div>

<div class="main">
    <h1 class="moreGreenText appName">WOPFE</h1>
    <hr class="line">
    <div class="content">
        <h1>Timetable</h1>
        <table>
            <tr th:each="event : ${timetable.events}">
                <td th:text="${event.day} + ': ' + ${event.time}"></td>
                <td th:text="${event.name}"></td>
                <td th:text="${event.place}"></td>
                <td th:text="${event.teacher}"></td>
            </tr>
        </table>
    </div>
</div>


</body>
</html>