<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>WOPFE</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<div class="sidenav">
    <a href="/main/student">Main</a>
    <a href="/main/student/class">My class</a>
    <a href="/main/student/grades">Grades</a>
    <a href="/main/student/tasks">Tasks</a>
    <a href="/main/student/timetable">Timetable</a>
</div>

<div class="main">
    <h1 class="moreGreenText appName">WOPFE</h1>
    <hr class="line">
    <div class="addLater">Under construction</div>
</div>


</body>
</html>